API_NODEJS_BUILD_NAME=eagle-api
API_NODEJS_DEPLOYMENT_NAME=eagle-api
API_MONGODB_DEPLOYMENT_NAME=eagle-api-mongodb
API_BC_NODEJS_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/your-github-org/your-api-repo/develop/openshift/templates/
API_BC_NODEJS_TEMPLATE_FILENAME=eagle-api.bc.json
API_BC_NODEJS_PARAMS=api-1-nodejs-bc.params
API_DC_NODEJS_AND_MONGO_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/your-github-org/your-api-repo/develop/openshift/templates/
API_DC_NODEJS_AND_MONGO_TEMPLATE_FILENAME=eagle-api.dc.json
API_DC_NODEJS_AND_MONGO_PARAMS=api-3-nodejs-dc.params
API_DC_NSP_TEMPLATE_FILENAME=custom-network-policy.yaml
API_DC_NSP_TEMPLATE_FOLDER_PATH=../templates/network-security-policies/
API_BC_PIPELINE_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/your-github-org/your-api-repo/develop/openshift/templates/pipeline/
API_BC_PIPELINE_TEMPLATE_FILENAME=eagle-api-pipeline.bc.json
API_BC_PIPELINE_PARAMS=api-1-jenkins-bc.params