API_NODEJS_BUILD_NAME=pr-placeholder-eagle-api
API_MINIO_BUILD_NAME=pr-placeholder-eagle-api-minio
API_NODEJS_DEPLOYMENT_NAME=pr-placeholder-eagle-api
API_MONGODB_DEPLOYMENT_NAME=pr-placeholder-eagle-api-mongodb
API_MINIO_DEPLOYMENT_NAME=pr-placeholder-eagle-api-minio
API_BC_NODEJS_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/fork-placeholder/eagle-api/branch-placeholder/openshift/templates/
API_DC_NODEJS_AND_MONGO_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/fork-placeholder/eagle-api/branch-placeholder/openshift/templates/
API_BC_MINIO_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/fork-placeholder/eagle-api/branch-placeholder/openshift/templates/
API_DC_MINIO_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/fork-placeholder/eagle-api/branch-placeholder/openshift/templates/
